<div class="rounded-lg cursor-pointer relative">
  <!-- <div class="w-full rounded-md overflow-hidden">
    <img
      src="{{ imgs[activeIdx].small }}"
      alt=""
      class="object-contain w-full"
    />
  </div> -->
  <app-ImgScope [img]="imgs[activeIdx].small"/>
  <button
    (click)="handleBack()"
    class="z-10 absolute top-1/2 -left-5 w-[50px] h-[50px] rounded-full bg-white -translate-y-1/2 flex justify-center items-center hover:opacity-70"
  >
    <img src="/assets/icon-previous.svg" alt="" />
  </button>
  <button
    class="z-10 absolute top-1/2 -right-5 w-[50px] h-[50px] rounded-full bg-white -translate-y-1/2 flex justify-center items-center hover:opacity-70"
    (click)="handleNext()"
  >
    <img src="/assets/icon-next.svg" alt="" />
  </button>
</div>
<div class="mt-10 md:block hidden">
  <div class="flex flex-wrap -m-2">
    <div *ngFor="let img of imgs; index as i" class="p-2 w-1/4">
      <div
        class="rounded-lg overflow-hidden cursor-pointer hover:opacity-70"
        (mouseenter)="handleHover(i)"
      >
        <img src="{{ img.thumbnail }}" alt="" />
      </div>
    </div>
  </div>
</div>
