<div class="md:block hidden">
  <!-- <div #mainImg class="mb-5 cursor-pointer relative" (click)="handleShowModal()" (mouseenter)="onMouseenter()" (mousemove)="onMousemove($event)" (mouseleave)="onMouseleave()">
    <div class="relative rounded-lg overflow-hidden" >
      <img src="{{ imgs[activeIdx].small }}" alt="" />
    </div>
    <div #lens *ngIf="showImgScope" class=" absolute  w-[200px] h-[200px] rounded-full  z-50 shadow bg-no-repeat"
    [ngStyle]="{'background-image': 'url(' + imgs[activeIdx].small + ')'}"
    >
    </div>
  </div> -->
  <app-ImgScope [img]="imgs[activeIdx].small" (handleModal)="handleShowModal()"/>
  <div class="flex flex-wrap -m-2">
    <div *ngFor="let img of imgs; index as i" class="p-2 w-1/4">
      <div
        class="rounded-lg overflow-hidden cursor-pointer hover:opacity-70"
        (mouseenter)="handleHover(i)"
        (click)="handleShowModal()"
      >
        <img src="{{ img.thumbnail }}" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="md:block hidden">
  <app-modal *ngIf="showModal" (close)="handleShowModal()">
    <app-detail-modal [imgs]="imgs"/>
  </app-modal>
</div>
<div class="md:hidden">
  <app-detail-modal [imgs]="imgs" />
</div>
